{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/contactsection.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/faqsection.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/valuesSection.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/testimonials.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/faqpage.css' %}" />
    <link rel="icon" type="image/png" href="{% static '/img/favicon.ico' %}">
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/material-kit.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"> -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>

<body>

    <div class="container position-sticky z-index-sticky top-0">
        <div class="row">
            <div class="col-12">

                <nav
                    class="navbar navbar-expand-lg blur border-radius-xl mt-4 top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
                    <div class="container-fluid px-0">
                        <a class="navbar-brand font-weight-bolder ms-sm-3"
                            href="{% url 'core:home' %}" rel="tooltip"
                            title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
                            Students League
                        </a>
                        <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon mt-2">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </span>
                        </button>
                        <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5" id="navigation">
                            <ul class="navbar-nav navbar-nav-hover ms-auto">
                                <!-- Home -->
                                <li class="nav-item mx-2">
                                    <a class="nav-link ps-2 d-flex align-items-center" href="{% url 'core:home' %}">
                                        <i class="material-icons opacity-6 me-2 text-md">home</i>
                                        Home
                                    </a>
                                </li>

                                <!-- About Us -->
                                <li class="nav-item mx-2">
                                    <a class="nav-link ps-2 d-flex align-items-center" href="{% url 'core:about' %}">
                                        <i class="material-icons opacity-6 me-2 text-md">info</i>
                                        About Us
                                    </a>
                                </li>

                                <!-- FAQ -->
                                <li class="nav-item mx-2">
                                    <a class="nav-link ps-2 d-flex align-items-center" href="{% url 'core:faq' %}">
                                        <i class="material-icons opacity-6 me-2 text-md">help</i>
                                        FAQ
                                    </a>
                                </li>

                                <!-- Contact Us -->
                                <li class="nav-item mx-2">
                                    <a class="nav-link ps-2 d-flex align-items-center" href="{% url 'core:contact' %}">
                                        <i class="material-icons opacity-6 me-2 text-md">contact_mail</i>
                                        Contact Us
                                    </a>
                                </li>

                                {% if user.is_authenticated %}
                                <!-- Sign Out -->
                                <li class="nav-item mx-2">
                                    <a class="nav-link ps-2 d-flex align-items-center" href="{% url 'core:logout' %}">
                                        <i class="material-icons opacity-6 me-2 text-md">logout</i>
                                        Log out
                                    </a>
                                </li>
                                <!-- Profile -->
                                <li class="nav-item mx-2">
                                    <a class="nav-link ps-2 d-flex align-items-center" href="{% url 'core:profile' %}">
                                        <i class="material-icons opacity-6 me-2 text-md">person</i>
                                        Profile
                                    </a>
                                </li>
                                {% else %}
                                <!-- Sign In -->
                                <li class="nav-item mx-2">
                                    <a class="nav-link ps-2 d-flex align-items-center" href="{% url  'core:login' %}">
                                        <i class="material-icons opacity-6 me-2 text-md">login</i>
                                        Sign In
                                    </a>
                                </li>
                                <!-- Sign Up -->
                                <li class="nav-item mx-2">
                                    <a class="nav-link ps-2 d-flex align-items-center" href="{% url 'core:sign_up' %}">
                                        <i class="material-icons opacity-6 me-2 text-md">person_add</i>
                                        Sign Up
                                    </a>
                                </li>
                                {% endif %}
                                <!-- Button for Free Download (example) -->

                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <div>
        {% block content %}

        {% endblock %}
    </div>

    <script src="{% static '/js/core/popper.min.js' %}" type="text/javascript"></script>
  <script src="{% static '/js/core/bootstrap.min.js' %}" type="text/javascript"></script>
  <script src="{% static '/js/plugins/perfect-scrollbar.min.js' %}"></script>
  <!--  Plugin for TypedJS, full documentation here: https://github.com/inorganik/CountUp.js' %} -->
  <script src="{% static '/js/plugins/countup.min.js' %}"></script>
</body>